In [ ]:
# The code was removed by Watson Studio for sharing.

In [1]:
import numpy as np
import pandas as pd

In [6]:
toronto_data="toronto_data.csv"
postcodes = pd.read_csv(toronto_data)
postcodes.rename(columns={"Postalcode":"Postal Code"}, inplace=True)
postcodes.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [5]:
toronto_latlong = 'https://cocl.us/Geospatial_data'
df = pd.read_csv(toronto_latlong)
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
#join data frames
final_data = pd.merge(postcodes, df, on='Postal Code', how='inner')

In [10]:
final_data.shape

(103, 5)